name: Deploy image container to Heroku

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: List repo files (debug)
        run: |
          pwd
          ls -la
          find . -maxdepth 2 -type f -name "Dockerfile" -print

      - name: Docker build (debug)
        run: docker build -t irisdocker-test .

      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh
          heroku --version

      - name: Build, Push and Release a Docker container to Heroku
        uses: johnnybenson/heroku-docker-deploy@v1.5.1
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "irisdocker"
          email: "afarahan@nu.edu"
          process_type: web
    



